<nav [ngClass]="{ sidemenuIsOpen: sidemenuS.menuIsOpen() }">
  <!-- When the sidemenu is open, the container is fixed -->
  <div class="dynamic-container">
    <button class="toggle-sidemenu-button" (click)="sidemenuS.toggleMenu()">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <a routerLink="/" (click)="click()">odt-templater</a>
  </div>
  <ul (click)="click()">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/doc/getting-started-browser/.">Docs</a></li>
  </ul>
</nav>
