<div
  class="closingDiv"
  [ngClass]="{ open: sidemenuS.menuIsOpen() }"
  (click)="sidemenuS.toggleMenu()"
></div>
<aside [ngClass]="{ open: sidemenuS.menuIsOpen() }" (click)="toggleMenu()">
  <nav>
    <ul>
      <li>
        <a routerLink="/doc/getting-started-nodejs/."
          >Getting started (Node.js)</a
        >
      </li>
      <li>
        <a routerLink="/doc/getting-started-browser/."
          >Getting started (Browser)</a
        >
        <hr />
      </li>
      <li><a routerLink="/doc/placeholders/.">Placeholders</a></li>
      <li><a routerLink="/doc/conditionals/.">Conditionals</a></li>
      <li><a routerLink="/doc/empty-conditionals/.">Empty Conditionals</a></li>
    </ul>
  </nav>
</aside>
