.closingDiv {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  display: none;
  top: var(--header-height);

  @media only screen and (max-width: 1100px) {
    &.open {
      display: block;
    }
  }
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  padding: 1em;
  padding-top: calc(var(--header-height) + 1em);
  transition: all 200ms ease-in-out;
  box-sizing: border-box;
  width: var(--sidemenu-width);
  display: flex;
  transition-behavior: allow-discrete;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;

  // closed on big screens (inverted class)
  &.open {
    transform: translateX(calc(-1 * var(--sidemenu-width)));
    display: none;
  }

  @media only screen and (max-width: 1100px) {
    transform: translateX(calc(-1 * var(--sidemenu-width)));
    display: none;

    &.open {
      display: flex;
      transform: translateX(0);

      @starting-style {
        transform: translateX(calc(-1 * var(--sidemenu-width)));
      }
    }
  }
}
nav {
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  li {
    a,
    a:visited {
      display: flex;
      padding: 1em 1em;
      border-radius: 1.3em;
      color: var(--font-color);
      text-decoration: none;
      font-size: 1.2em;

      &:hover {
        background-color: rgb(249, 249, 253);
      }
    }
  }
}
