<div
  class="closingDiv"
  [ngClass]="{ open: sidemenuS.menuIsOpen() }"
  (click)="sidemenuS.toggleMenu()"
></div>
<aside
  [ngClass]="{ open: sidemenuS.menuIsOpen() }"
  (click)="sidemenuS.toggleMenu()"
>
  <nav>
    <ul>
      <li>
        <a routerLink="/doc/getting-started-nodejs/."
          >Getting started (Node.js)</a
        >
      </li>
      <li>
        <a routerLink="/doc/getting-started-browser/."
          >Getting started (Browser)</a
        >
        <hr />
      </li>
      <li><a routerLink="/">Placeholders</a></li>
      <li><a routerLink="/">Conditionals</a></li>
      <li><a routerLink="/">Empty Conditionals</a></li>
    </ul>
  </nav>
</aside>
