@use "highlight.js/styles/github.min.css";

main {
  min-height: 100vh;
}

article {
  max-width: 50em;
  margin: 3em auto;
  padding: 0 4%;

  h1 {
    margin-block: 0.67em;
    font-size: 2em;
  }

  p {
    line-height: 1.6;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  p > code,
  li > code {
    background-color: #6b6aa8;
    padding: 0.5em 0.6em;
    border-radius: 5px;
    font-size: 0.9em;
    color: white;
  }
}

pre {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1em;
  font-size: 1.2em;
  overflow: auto;
}

.page-not-found {
  text-align: center;
}
