@use "highlight.js/styles/github.css";

:root {
  --font-color: #3a3a3a;
  --header-height: 3.5em;
  --sidemenu-width: 18em;
}

html {
  height: 100%;
  background: radial-gradient(#e7f0ff 12%, transparent);
}

body {
  margin: 0;
  color: var(--font-color);
  font-family: sans-serif;
  min-height: 100%;
  position: absolute;
  width: 100%;
}
